h1 {
  background-color: lightgray;
  text-align: center;
}

li a, h1 a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: lightgrey;
  font-weight: bold;
}

li a:hover {
}

ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

ol li {
  width: 200px;
  margin-bottom: 10px;
}
