@media only screen and (min-width: 1080px) {
  html {
    font-size: 30px;
  }
}

h1 {
  background-color: lightgreen;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: lightgreen;
  font-weight: bold;
}

a:hover {
  color: darkblue;
}


ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

li {
  width: 300px;
  margin-bottom: 10px;
}
